*

!.gitignore

!.bashrc

!.vimrc

!.tmux.conf

!.conkyrc

!.Xresources

!.config
!.config/compton
!.config/dunst/
!.config/i3/
!.config/polybar/
!.config/sway
!.config/mako
!.config/waybar

!.ssh
!.ssh/config
