*

!.gitignore

!.bashrc

!.vimrc

!.tmux.conf

!.Xresources

!.config
!.config/compton
!.config/dunst
!.config/i3
!.config/polybar
!.config/sway
!.config/mako
!.config/waybar
!.config/conky

!.ssh
!.ssh/config
